# Enable informational messages about compression.
DEBUG = 3
HASHNAME=MHASH_TIGER192
#HASHNAME=MHASH_SHA512
#HASHNAME=MHASH_SHA256
#HASHNAME=MHASH_WHIRLPOOL
#HASHNAME=MHASH_HAVAL256
# The (chopped) hashlen in bytes, minimum is 20.
HASHLEN = 24
#HASHLEN = 32
#HASHLEN = 64
#BLOCKDATA_IO_TYPE=file_io
#BLOCKDATA_PATH=/data/dta/blockdata.dta
BLOCKDATA_PATH=/data/dta
BLOCKDATA_BS=1048576
#
BLOCKUSAGE_PATH=/data/mta
BLOCKUSAGE_BS=1048576
#
DIRENT_PATH=/data/mta
DIRENT_BS=1048576
#
FILEBLOCK_PATH=/data/mta
FILEBLOCK_BS=1048576
#
META_PATH=/data/mta
META_BS=1048576
#
HARDLINK_PATH=/data/mta
HARDLINK_BS=1048576
#
SYMLINK_PATH=/data/mta
SYMLINK_BS=1048576
#
# The freelist database is only used
# with the  file_io backend
#
FREELIST_PATH=/data/mta
FREELIST_BS=1048576
#
# CACHESIZE in MB
CACHESIZE=128
# Flush data to disk after X seconds.
COMMIT_INTERVAL=30
#
LISTEN_IP=127.0.0.1
LISTEN_PORT=100
# Not more then 2 on most machines.
MAX_THREADS=2
#DYNAMIC_DEFRAGMENTATION on or off, default is off.
DYNAMIC_DEFRAGMENTATION=on
COREDUMPSIZE=256000000
# Consider SYNC_RELAX=1 or SYNC_RELAX=2 when exporting lessfs with NFS.
SYNC_RELAX=0
# Requires openssl and lessfs has to be configured with --with-crypto
ENCRYPT_DATA=off
# ENCRYPT_META on or off, default is off
# Requires ENCRYPT_DATA=on and is otherwise ignored.
ENCRYPT_META=on
#PASSWORD=1234
MIN_SPACE_FREE=10
#MIN_SPACE_CLEAN=15
#CLEAN_PROGRAM=/tmp/clean.sh
# Highly recommended.
ENABLE_TRANSACTIONS=on
# Select a blocksize to fit your needs.
# Most people should select 131072 or 65536
BLKSIZE=131072
#BLKSIZE=65536
#BLKSIZE=32768
#BLKSIZE=16384
COMPRESSION=qlz
#COMPRESSION=lzo
#COMPRESSION=qlz
#COMPRESSION=gzip
#COMPRESSION=bzip
#COMPRESSION=deflate
